<template>
  <div class="container">
  <b-button href="kitpage">Kittamate</b-button>
  <b-button href="khongpage">Khongphak</b-button>
  <b-button href="ratpage">Ratchanon</b-button>

  </div>
</template>

<

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


</style>
